@model dynamic

@{
    ViewBag.Title = "Ошибка";
}

<body>
    <strong>Приложение запущено в аварийном режиме!</strong>

    <p>Такое могло произойти по нескольким причинам:</p>
    <p>- Недоступна системная база</p>
    <p>- Недоступна база метаинформации для файлов</p>
    <p>- Не указаны каталоги выгрузки</p>
    <p>- Указаны несуществующие каталоги выгрузки</p>
    <p>- Таблицы приложения изменились обновились и т.п</p>

    Что делать:
    <p>- Обратиться к системному администратору</p>
    <p>- Проверить корректность файла WebConfig </p>
</body>



