<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="ext.direct" type="Ext.Direct.Mvc.ProviderConfiguration, Ext.Direct.Mvc" />
    <section name="userConfigs" type="Docflow.Configurations.UserPathsConfigSection" />
  </configSections>
  <ext.direct name="Ext.app.REMOTING_API" namespace="" assembly="Docflow" buffer="10" maxRetries="1" timeout="5000" dateFormat="js" debug="true" />
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=MMK-KZN-DIT-011\SQLEXPRESS;Initial Catalog=test;Integrated Security=False;User Id=ladm;Password=dreb@45GRsa_6;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="FOConnection" connectionString="Data Source=MMK-KZN-DIT-011\SQLEXPRESS;Initial Catalog=test;Integrated Security=False;User Id=ladm;Password=dreb@45GRsa_6;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--Настройки папки куда будут сохраняться файлы с идентификаторами выгружаемых файлов сканов-->
  <!--Настройки планировщика в виде cron выражения-->
  <!--Пример если надо запускать задачу в интервале с 20 до 22 часов каждый день все года-->
  <!--то для этого надо использовать выражение 0 0 20-22 ? * * -->
  <!--JobPartTime временные промежутки когда выделяется время на исполнение-->
  <!--ServerContractFilesPathName путь до папки с файлами контракта-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ContractIdentifiresSavePath" value="D:\Temp\123\" />
    <add key="SheduleSettings" value="0 03-04 16 ? * *" />
    <add key="JobPartTime" value="15" />
    <add key="ServerContractFilesPathName" value="\\dc1-ltfo-app1\files\ContractFile\"/>
    <add key="countToArchive" value="укажите отправителя" />
    <add key="emailFrom" value="укажите отправителя" />
    <add key="emailHost" value="укажите хост" />
    <add key="emailPort" value="укажите порт" />
    <add key="emailPassword" value="укажите пароль" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="d:\Temp\logger\${shortdate}" />
    <targets>
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}\info.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}\debug.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}\errors.txt" />
      <target name="fileLogFatal" xsi:type="File" fileName="${logDirectory}\fatal.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="fileLogDebug" />
      <logger name="*" minlevel="Error" maxlevel="Error" writeTo="fileLogErrors" />
      <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fileLogFatal" />
    </rules>
  </nlog>
  <userConfigs>
    <userPaths>
      <add path="D:\Temp" />
      <add path="D:\Temp\123" />
    </userPaths>  
  </userConfigs>
</configuration>